
  

<div class="container-fluid">

    <div class="row">
        <div class="col-md-5 strt">
          
            <img src="./assets/Images/icon.png" alt="No IMAGE" class="iconn">
            <br>
            <h3 class="sm1">Noteefy</h3>
            <small class="sm"><b> Make your own notes and list </b></small>
        </div>

        <div class="col-md-4 strt1">
            <div class="card">
                <div class="card-header">
                   <b>Login</b> 
                </div>
                
                <div class="card-body">
                  <form action=""> 
                        <label >Email address :</label>
                        <input type="email" class="form-control hov" required="required">
                        <br>

                        <label >Password :</label>
                        <input type="password" class="form-control hov" >

                        <br>
                        <input type="checkbox" >
                        <label class="cb">Remember me</label>

                        <button type="submit" class="btn btn-primary strt2" routerLink="home">Sign in</button>
                      </form>
                </div>
              
                <br>
                <a href="" data-toggle="modal" data-target="#exampleModal" class="signup">Not a member? SignUp Here</a>


      
      
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <label class="edtxt">First Name :</label>
              <input type="text" class="form-control wid hov" required=""><br><br><br>

              <label class="edtxt">Last Name :</label>
              <input type="text" class="form-control wid hov"> <br><br><br>

              <label class="edtxt">Email ID:</label>
              <input type="text" class="form-control wid hov"> <br><br><br>

              <label class="edtxt">Mobile Number :</label>
              <input type="number" class="form-control wid hov"> <br><br><br>

              <label class="edtxt">Password :</label>
              <input type="password" class="form-control wid hov"> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal" data-target="#exampleModal1">Submit</button>
            
            </div>
          
          </div>
        </div>
      </div>




  
  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" class="ex">You have successfully registered !!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
          </button>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
          
        </div>
      </div>
    </div>
  </div>
            </div>
        

            </div>
    </div>


</div>
